
.input-simple {
  margin: 0;
  border: 0;
  display: inline-flex;
  padding: 0;
  position: relative;
  min-width: 0;
  flex-direction: column;
  vertical-align: top;
  height: 30px;
}

.btn-input-circle {
  border-radius: 5px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  min-width: 30px;
  /* padding-left: 5px;
  padding-right: 5px; */
  padding: 5px;
}

.card-user .image {
  height: 180px;
}

.container-fluid>.navbar-collapse, 
.container-fluid>.navbar-header, 
.container>.navbar-collapse, 
.container>.navbar-header {
  width: -webkit-fill-available;
}

.table-header-class, .table-header-class>th {
  background-color: var(--primaryDarkBgColor);
  color: var(--primaryDarkTextColor) !important;
}

.table-container-class {
  max-height: 500px;
}